<template>
  <div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div v-if="numServer != null" class="card-body">
            <h5 class="card-title">Server # {{ numServer }}</h5>
            <ul>
              <li class="card-text">ADDRESS: {{ serverInfo.address }}</li>
              <li class="card-text">SSL_GRADE: {{ serverInfo.ssl_grade }}</li>
              <li class="card-text">COUNTRY: {{ serverInfo.country }}</li>
              <li class="card-text">OWNER: {{ serverInfo.owner }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { Response, Server } from "../model/response";
@Component
export default class Card extends Vue {
  @Prop() private numServer!: number;
  @Prop() private serverInfo!: Server;
  @Prop() private response!: Response;
  constructor() {
    super();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
