<template>
  <div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">GENERAL INFO</h5>
            <ul>
              <li class="card-text">
                SERVERS_CHANGED: {{ response.servers_changed }}
              </li>
              <li class="card-text">SSL_GRADE: {{ response.ssl_grade }}</li>
              <li class="card-text">
                PREVIOUS_SSL_GRADE: {{ response.previous_ssl_grade }}
              </li>
              <li class="card-text">LOGO: {{ response.logo }}</li>
              <li class="card-text">TITLE: {{ response.title }}</li>
              <li class="card-text">IS_DOWN: {{ response.is_down }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { Response } from "../model/response";
@Component
export default class MainCard extends Vue {
  @Prop() private response!: Response;
  constructor() {
    super();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
