<template>
  <div>
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <input
          v-model="domain"
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          type="button"
          v-on:click="search()"
          class="btn btn-success my-2 my-sm-2"
        >
          Search
        </button>
        <button
          type="button"
          class="btn btn-warning my-2 mr-sm-6 "
          v-on:click="getOldData()"
        >
          Old requests
        </button>
      </form>
    </nav>
    
    <MainCard v-if="!oldData" v-bind:response= "response" />
    <div v-for="(item, index) in response.servers" :key="index">
      <Card v-if="!oldData" v-bind:numServer= "index + 1" v-bind:serverInfo= "item"  />
    </div>
    <div v-if="oldData">
     <li v-for="(item, index) in items" :key="index">{{item}}</li>
    </div>
  </div>

 

</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Response } from "../model/response";
import Card from "./Card.vue";
import MainCard from "./MainCard.vue";
import axios from "axios";
import Swal from "sweetalert2";

@Component({
  components: {
    Card,
    MainCard
  },
})
export default class SearchBar extends Vue {
  private domain = "";
  private url = "https://challenge.tandiapp.com";
  private response: Response;
  private oldData  = false;
  private items: string[];
  constructor() {
    super();
    this.response = new Response();
    this.items = [];
    
  }

  search() {
    this.oldData = false;
    if (this.domain != "") {
      const regex = /^((?:https?:\/\/)?[^./]+(?:\.[^./]+)+(?:\/.*)?)$/;
      if (this.domain.match(regex)) {
        this.startLoading();
        axios
          .get(`${this.url}/api/v1/info?server=${this.domain}`)
          .then((response) => {
            this.response = JSON.parse(JSON.stringify(response.data));
            this.stopLoading();
          });
      } else {
        this.showAlert("URL INVALIDA");
      }
    }
  }

  getOldData(){
    this.oldData = true;
    axios
          .get(`${this.url}/api/v1/items`)
          .then((response) => {
            this.items = JSON.parse(JSON.stringify(response.data.Items));
          });
  }

  showAlert(message: string) {
    // Use sweetalert2
    Swal.fire(message);
  }

  startLoading(){
    Swal.showLoading();
  }

  stopLoading(){
    Swal.hideLoading();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
